<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde?><target includeMode="feature" name="hu.blackbelt.judo.meta.rdbms.target" sequenceNumber="1558342632">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="http://download.eclipse.org/releases/2019-03"/>
	    <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.10.0"/>
	    <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.10.0"/>
	    <unit id="org.eclipse.emf.sdk.feature.group" version="2.17.0.v20190301-1325"/>
	    <unit id="org.eclipse.xtend.feature.group" version="2.2.0.v201605260315"/>
	    <unit id="org.eclipse.pde.source.feature.group" version="3.13.400.v20190307-0943"/>
	    <unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.17.0.v20190221-2115"/>
	    <unit id="org.eclipse.equinox.sdk.feature.group" version="3.17.0.v20190305-2225"/>
	    <unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.11.0.v20190215-0401"/>
	    <unit id="org.eclipse.sdk.feature.group" version="4.11.0.v20190307-0943"/>
    </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <unit id="org.eclipse.epsilon.core.dt.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.core.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.emc.graphml.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.emc.spreadsheets.excel.dt.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.emc.spreadsheets.excel.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.emc.spreadsheets.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.emc.spreadsheets.google.dt.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.emc.spreadsheets.google.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.emf.dt.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.emf.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.eunit.dt.emf.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.evl.emf.validation.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.ewl.emf.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.ewl.gmf.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.simulink.dt.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.simulink.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.uml.dt.feature.feature.group" version="1.5.1.201809302027"/>
		  <unit id="org.eclipse.epsilon.uml.feature.feature.group" version="1.5.1.201809302027"/>
		  <repository location="http://download.eclipse.org/epsilon/updates"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <unit id="hu.blackbelt.eclipse.emf.genmodel.generator.feature.feature.group" version="1.0.0.develop_00013"/>
		  <repository location="https://nexus.blackbelt.cloud/repository/p2-judo/emf-genmodel-generator/1.0.0.develop_00013"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <unit id="hu.blackbelt.judo.eclipse.emf.genmodel.generator.feature.feature.group" version="1.0.0.develop_00004"/>
		  <repository location="https://nexus.blackbelt.cloud/repository/p2-judo/judo-genmodel-generator/1.0.0.develop_00004"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <unit id="hu.blackbelt.epsilon.runtime.feature.feature.group" version="1.2.0.develop_00004"/>
		  <repository location="https://nexus.blackbelt.cloud/repository/p2-judo/epsilon-runtime-eclipse/1.2.0.develop_00004"/>
	  </location>

  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>